# Environment variables
.env
.env.local
.env.*.local

# Build output
dist
dist-ssr
*.local

# Dependencies
node_modules
.pnpm-store

# IDEs
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db

# Vercel/Netlify
.vercel
.netlify
